.card-title{
  font-size: 18px;
  margin: 0;
}

.card-text{
  font-style: italic;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(10, 78, 161);
}

