*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    margin:0;
    --bs-gutter-x: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.column1{
    width:25%;
    background-color:rgb(10, 78, 161);
    .card{
      border:none;
      color: white;
      margin-top: 1rem;
    }
}
.column2{
    width:75%;
    margin-left: 1rem;
}
.academic-name{
    display: flex;
}
.academic-pos{
    margin-left: 1vh;
}
#profile{
    border-radius: 100%;
    vertical-align: middle;
}
.desc{
    margin-top: 1rem;
    font-size: x-large;
    font-weight: 300;
}
.about {
    font-size: larger !important;
    justify-content: center;
    display: grid;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.contact {
  color: white;
  h3{
    background-color: rgba(8, 61, 113, 0.653);
    text-align: center;
  }
  h5,span{
    margin-left: 5px;
    vertical-align: middle;
  }
  .col-md-6{
    margin-bottom: 1rem;
  }
}

li{
  margin-bottom: 1rem;
}
a{
  text-decoration: none;
  color:white;
}
